<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="./tests/bootstrap.php"
        colors="true"
        testdox="true"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Infrastructure/Persistence/Database/Migration</directory>
        </exclude>
        <report>
            <clover outputFile="tests/reports/coverage.xml"/>
            <html outputDirectory="tests/Reports/" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/App/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/App/Integration</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
</phpunit>