<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Infrastructure/Persistence/Database/Migration</directory>
            <directory suffix=".php">src/Infrastructure/Persistence/Database/Model</directory>
        </exclude>
        <report>
            <clover outputFile="tests/reports/coverage.xml"/>
            <html outputDirectory="tests/Reports/" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>./tests/App/Unit</directory>
        </testsuite>
        <testsuite name="Integration Test Suite">
            <directory>./tests/App/Integration</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
    <php>
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/tests/data.db" />
    </php>
</phpunit>